[Unit]
Description=Run and fork using bash

[Service]
EnvironmentFile=%T/%i.env
ExecStart=/usr/bin/bash /home/astynax/.local/bin/basher.bash
Restart=no
Type=forking

[Install]
WantedBy=graphical-session.target
