[user]
    name = Aleksei Pirogov
    email = astynax@users.noreply.github.com
[alias]
    st = status
    com = commit
    ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset' --decorate --numstat
    l = log --pretty=format:'%C(red)%h %Cgreen%ad%C(yellow)%d %Creset%s%C(bold blue) [%cn]%Creset' --decorate --date=short
    up = !git fetch upstream && git rebase upstream/master
    w = whatchanged --decorate -p
    dt = !env GIT_EXTERNAL_DIFF=difft git diff
[push]
    default = simple
[merge]
    tool = p4merge
[commit]
    template = ~/.git_commit_template
[status]
    submoduleSummary = true
[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    autocrlf = input
    safecrlf = true
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[init]
	defaultBranch = master
