Xft.dpi: 96
Xft.antialias: true
Xft.rgba: none
Xft.hinting: true
Xft.autohint: true
Xft.hintstyle: hintslight

!URxvt*font: -misc-fixed-medium-*-*--18-*-*-*-*-*-iso10646-1
!URxvt*boldFont: -misc-fixed-bold-*-*--18-*-*-*-*-*-iso10646-1

URxvt*font:             xft:Inconsolata LGC:pixelsize=15
URxvt*boldFont:         xft:Inconsolata LGC:pixelsize=15:style=bold

!URxvt*font: xft:Inconsolata LGC:medium:pixelsize=18:hinting=true
!URxvt.letterSpace: -1

URxvt*scrollBar_right: true
! URxvt*visualBell: true
URxvt*urgentOnBell: true
URxvt*scrollstyle: plain
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*fading: 0

!=============================================================================
! Solarized color scheme for the X Window System
! http://ethanschoonover.com/solarized

! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

! Dark

! #define S_base03        #002b36
! #define S_base02        #073642
! #define S_base01        #586e75
! #define S_base00        #657b83
! #define S_base0         #839496
! #define S_base1         #93a1a1
! #define S_base2         #eee8d5
! #define S_base3         #fdf6e3

! Light

#define S_base03        #fdf6e3
#define S_base02        #eee8d5
#define S_base01        #93a1a1
#define S_base00        #839496
#define S_base0         #657b83
#define S_base1         #586e75
#define S_base2         #073642
#define S_base3 #002b36

URxvt*background:              S_base03
URxvt*foreground:              S_base0
URxvt*fadeColor:               S_base03
URxvt*cursorColor:             S_base1
URxvt*pointerColorBackground:  S_base01
URxvt*pointerColorForeground:  S_base1

URxvt*color0:                  S_base02
URxvt*color1:                  S_red
URxvt*color2:                  S_green
URxvt*color3:                  S_yellow
URxvt*color4:                  S_blue
URxvt*color5:                  S_magenta
URxvt*color6:                  S_cyan
URxvt*color7:                  S_base2
URxvt*color9:                  S_orange
URxvt*color8:                  S_base03
URxvt*color10:                 S_base01
URxvt*color11:                 S_base00
URxvt*color12:                 S_base0
URxvt*color13:                 S_violet
URxvt*color14:                 S_base1
URxvt*color15:                 S_base3

!URxvt.intensityStyles: false

rofi.width:                          100
rofi.lines:                          15
rofi.columns:                        1
rofi.font:                           mono 12

rofi.color-enabled:                  true
rofi.color-normal:                   #fdf6e3,#002b36,#eee8d5,#586e75,#eee8d5
rofi.color-urgent:                   #fdf6e3,#dc322f,#eee8d5,#dc322f,#fdf6e3
rofi.color-active:                   #fdf6e3,#268bd2,#eee8d5,#268bd2,#fdf6e3
rofi.color-window:                   #eee8d5,#002b36

rofi.bw:                             0
rofi.location:                       6
rofi.padding:                        5

rofi.case-sensitive:                 false
rofi.levenshtein-sort:               true
rofi.fuzzy:                          true
rofi.tokenize:                       true

rofi.separator-style:                dash

rofi.kb-primary-paste:               Shift+Insert
rofi.kb-secondary-paste:             Control+y,Insert

xterm*background:                    black
xterm*foreground:                    gray
