Xft.dpi:                96
Xft.antialias:          true
Xft.rgba:               none
Xft.hinting:            true
Xft.autohint:           true
Xft.hintstyle:          hintslight

URxvt*font:             xft:Inconsolata LGC:pixelsize=15
URxvt*boldFont:         xft:Inconsolata LGC:pixelsize=15:style=bold

URxvt*scrollBar_right:  true
! URxvt*visualBell: true
URxvt*urgentOnBell:     true
URxvt*scrollstyle:      plain
URxvt*internalBorder:   0
URxvt*externalBorder:   0
URxvt*fading:           0

!=============================================================================
! Tango colors

#define Tango_Aluminium0    #eeeeec
#define Tango_Aluminium1    #d3d7cf
#define Tango_Aluminium2    #babdb6
#define Tango_Butter0       #fce94f
#define Tango_Butter1       #edd400
#define Tango_Butter2       #c4a000
#define Tango_Chameleon0    #8ae234
#define Tango_Chameleon1    #73d216
#define Tango_Chameleon2    #4e9a06
#define Tango_Orange0       #fcaf3e
#define Tango_Orange1       #f57900
#define Tango_Orange2       #ce5c00
#define Tango_Chocolate0    #e9b96e
#define Tango_Chocolate1    #c17d11
#define Tango_Chocolate2    #8f5902
#define Tango_SkyBlue0      #729fcf
#define Tango_SkyBlue1      #3465a4
#define Tango_SkyBlue2      #204a87
#define Tango_Plum0         #ad7fa8
#define Tango_Plum1         #75507b
#define Tango_Plum2         #5c3566
#define Tango_Slate0        #888a85
#define Tango_Slate1        #555753
#define Tango_Slate2        #2e3436
#define Tango_ScarletRed0   #ef2929
#define Tango_ScarletRed1   #cc0000
#define Tango_ScarletRed2   #a40000

!=============================================================================
! Solarized color scheme for the X Window System
! http://ethanschoonover.com/solarized

! Common

#define SC_yellow        #b58900
#define SC_orange        #cb4b16
#define SC_red           #dc322f
#define SC_magenta       #d33682
#define SC_violet        #6c71c4
#define SC_blue          #268bd2
#define SC_cyan          #2aa198
#define SC_green         #859900

! Dark

#define SD_base03        #002b36
#define SD_base02        #073642
#define SD_base01        #586e75
#define SD_base00        #657b83
#define SD_base0         #839496
#define SD_base1         #93a1a1
#define SD_base2         #eee8d5
#define SD_base3         #fdf6e3

! Light

#define SL_base03        #fdf6e3
#define SL_base02        #eee8d5
#define SL_base01        #93a1a1
#define SL_base00        #839496
#define SL_base0         #657b83
#define SL_base1         #586e75
#define SL_base2         #073642
#define SL_base3         #002b36

! Darker colors

#define Sb_red           #f31a16
#define Sb_green         #a4bd00
#define Sb_yellow        #e6ac00
#define Sb_blue          #309ce8
#define Sb_magenta       #e83089
#define Sb_cyan          #1fc7b9

URxvt*background:              SL_base03
URxvt*foreground:              SL_base0
URxvt*fadeColor:               SL_base03
URxvt*cursorColor:             SL_base1
URxvt*pointerColorBackground:  SL_base01
URxvt*pointerColorForeground:  SL_base1

URxvt*color0:                  SL_base02
URxvt*color1:                  SC_red
URxvt*color2:                  SC_green
URxvt*color3:                  SC_yellow
URxvt*color4:                  SC_blue
URxvt*color5:                  SC_magenta
URxvt*color6:                  SC_cyan
URxvt*color7:                  SL_base2
URxvt*color8:                  SL_base1
URxvt*color9:                  SC_orange
URxvt*color10:                 Sb_green
URxvt*color11:                 Sb_yellow
URxvt*color12:                 Sb_blue
URxvt*color13:                 Sb_violet
URxvt*color14:                 Sb_cyan
URxvt*color15:                 SL_base3

! base16 light
! https://github.com/chriskempson/base16-xresources/blob/master/xresources/base16-solarized-light-256.Xresources

#define base00 #fdf6e3
#define base01 #eee8d5
#define base02 #93a1a1
#define base03 #839496
#define base04 #657b83
#define base05 #586e75
#define base06 #073642
#define base07 #002b36
#define base08 #dc322f
#define base09 #cb4b16
#define base0A #b58900
#define base0B #859900
#define base0C #2aa198
#define base0D #268bd2
#define base0E #6c71c4
#define base0F #d33682

!URxvt.foreground:   base05
!URxvt.background:   base00
!URxvt.cursorColor:  base05

!URxvt.color0:       base00
!URxvt.color1:       base08
!URxvt.color2:       base0B
!URxvt.color3:       base0A
!URxvt.color4:       base0D
!URxvt.color5:       base0E
!URxvt.color6:       base0C
!URxvt.color7:       base05

!URxvt.color8:       base03
!URxvt.color9:       base08
!URxvt.color10:      base0B
!URxvt.color11:      base0A
!URxvt.color12:      base0D
!URxvt.color13:      base0E
!URxvt.color14:      base0C
!URxvt.color15:      base07

!! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
!! use 'shell' template to set these if necessary
!URxvt.color16:      base09
!URxvt.color17:      base0F
!URxvt.color18:      base01
!URxvt.color19:      base02
!URxvt.color20:      base04
!URxvt.color21:      base06

!============================================================================
! Rofi

rofi.width:                          100
rofi.lines:                          15
rofi.columns:                        1
rofi.font:                           mono 12

rofi.color-enabled:                  true
rofi.color-normal:                   #fdf6e3,#002b36,#eee8d5,#586e75,#eee8d5
rofi.color-urgent:                   #fdf6e3,#dc322f,#eee8d5,#dc322f,#fdf6e3
rofi.color-active:                   #fdf6e3,#268bd2,#eee8d5,#268bd2,#fdf6e3
rofi.color-window:                   #eee8d5,#002b36

rofi.bw:                             0
rofi.location:                       6
rofi.padding:                        5

rofi.case-sensitive:                 false
rofi.levenshtein-sort:               true
rofi.fuzzy:                          true
rofi.tokenize:                       true

rofi.separator-style:                dash

rofi.kb-primary-paste:               Shift+Insert
rofi.kb-secondary-paste:             Control+y,Insert

xterm*background:                    black
xterm*foreground:                    gray
