Xft.dpi:                96
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.autohint:           true
Xft.hintstyle:          hintslight
Xft.lcdfilter:          lcddefault

!=============================================================================
! Tango colors

#define Tango_Aluminium0    #eeeeec
#define Tango_Aluminium1    #d3d7cf
#define Tango_Aluminium2    #babdb6
#define Tango_Butter0       #fce94f
#define Tango_Butter1       #edd400
#define Tango_Butter2       #c4a000
#define Tango_Chameleon0    #8ae234
#define Tango_Chameleon1    #73d216
#define Tango_Chameleon2    #4e9a06
#define Tango_Orange0       #fcaf3e
#define Tango_Orange1       #f57900
#define Tango_Orange2       #ce5c00
#define Tango_Chocolate0    #e9b96e
#define Tango_Chocolate1    #c17d11
#define Tango_Chocolate2    #8f5902
#define Tango_SkyBlue0      #729fcf
#define Tango_SkyBlue1      #3465a4
#define Tango_SkyBlue2      #204a87
#define Tango_Plum0         #ad7fa8
#define Tango_Plum1         #75507b
#define Tango_Plum2         #5c3566
#define Tango_Slate0        #888a85
#define Tango_Slate1        #555753
#define Tango_Slate2        #2e3436
#define Tango_ScarletRed0   #ef2929
#define Tango_ScarletRed1   #cc0000
#define Tango_ScarletRed2   #a40000

!=============================================================================
! Solarized color scheme for the X Window System
! http://ethanschoonover.com/solarized

! Common

#define SC_yellow        #b58900
#define SC_orange        #cb4b16
#define SC_red           #dc322f
#define SC_magenta       #d33682
#define SC_violet        #6c71c4
#define SC_blue          #268bd2
#define SC_cyan          #2aa198
#define SC_green         #859900

! Dark

#define SD_base03        #002b36
#define SD_base02        #073642
#define SD_base01        #586e75
#define SD_base00        #657b83
#define SD_base0         #839496
#define SD_base1         #93a1a1
#define SD_base2         #eee8d5
#define SD_base3         #fdf6e3

! Light

#define SL_base03        #fdf6e3
#define SL_base02        #eee8d5
#define SL_base01        #93a1a1
#define SL_base00        #839496
#define SL_base0         #657b83
#define SL_base1         #586e75
#define SL_base2         #073642
#define SL_base3         #002b36

! Darker colors

#define Sb_red           #f31a16
#define Sb_green         #a4bd00
#define Sb_yellow        #e6ac00
#define Sb_blue          #309ce8
#define Sb_magenta       #e83089
#define Sb_cyan          #1fc7b9

!============================================================================
! Rofi

rofi.width:                          100
rofi.lines:                          15
rofi.columns:                        1
rofi.font:                           mono 12

rofi.color-enabled:                  true
rofi.color-normal:                   #fdf6e3,#002b36,#eee8d5,#586e75,#eee8d5
rofi.color-urgent:                   #fdf6e3,#dc322f,#eee8d5,#dc322f,#fdf6e3
rofi.color-active:                   #fdf6e3,#268bd2,#eee8d5,#268bd2,#fdf6e3
rofi.color-window:                   #eee8d5,#002b36

rofi.bw:                             0
rofi.location:                       6
rofi.padding:                        5

rofi.case-sensitive:                 false
rofi.levenshtein-sort:               true
rofi.fuzzy:                          true
rofi.tokenize:                       true

rofi.separator-style:                dash

rofi.kb-primary-paste:               Shift+Insert
rofi.kb-secondary-paste:             Control+y,Insert

!==============================================
! XTerm

XTerm.vt100.locale:                  false
XTerm.vt100.utf8:                    true
XTerm.vt100.utf8Title:               true

XTerm.vt100.saveLines:               4096
XTerm.vt100.scrollTtyOutput:         false
XTerm.vt100.scrollBar:               true
XTerm.vt100.rightScrollBar:          true
XTerm.vt100.scrollKey:               true
XTerm.vt100.scrollBarBorder:         0

XTerm.vt100.bellIsUrgent:            true
XTerm.vt100.metaSendsEscape:         true

XTerm.vt100.allowBoldFonts:          true
XTerm.vt100.faceName:                DejaVu Mono :antialias=true
XTerm.vt100.boldMode:                false
XTerm.vt100.faceSize:                15
XTerm.vt100.internalBorder:          5
XTerm.scaleHeight:                   1.1
XTerm.borderWidth:                   0

XTerm*background:              SL_base03
XTerm*foreground:              SL_base0
XTerm*fadeColor:               SL_base03
XTerm*cursorColor:             SL_base1
XTerm*pointerColorBackground:  SL_base01
XTerm*pointerColorForeground:  SL_base1

XTerm*color0:                  SL_base02
XTerm*color1:                  SC_red
XTerm*color2:                  SC_green
XTerm*color3:                  SC_yellow
XTerm*color4:                  SC_blue
XTerm*color5:                  SC_magenta
XTerm*color6:                  SC_cyan
XTerm*color7:                  SL_base2
XTerm*color8:                  SL_base1
XTerm*color9:                  SC_orange
XTerm*color10:                 Sb_green
XTerm*color11:                 Sb_yellow
XTerm*color12:                 Sb_blue
XTerm*color13:                 Tango_Plum0
XTerm*color14:                 Sb_cyan
XTerm*color15:                 SL_base3
