format = """\
    $username\
    $hostname\
    $directory\
    $shlvl\
    $env_var\
    $git_branch\
    $git_state\
    $git_status\
    $golang\
    $gradle\
    $package\
    $python\
    $rust\
    $elm\
    $kotlin\
    $haskell\
    $scala\
    $clojure\
    $nix_shell\
    $custom\
    $cmd_duration\
    $battery\
    $line_break\
    $jobs\
    $character\
    """

add_newline = false

[shlvl]
disabled = false

[env_var.DEBIAN_CHROOT]
format = "([\\[$env_value\\]](bold red) )"
default = ""

[battery]
format = "[BATTERY:$percentage]($style)"

[[battery.display]]
threshold = 10
style = "bold red"

[directory]
truncate_to_repo = false
read_only = "R"

[golang]
symbol = "Go "

[gradle]
symbol = "\ue660 "

[kotlin]
symbol = "\ue634 "

[scala]
symbol = "\ue68e "

[haskell]
symbol = "\ue777 "

[python]
detect_extensions = []

[custom.racket]
extensions = ["rkt"]
symbol = "\ue6b1 "
style = "cyan"

[custom.commonlisp]
extensions = ["asd"]
symbol = "\ue6b0 "
style = "cyan"

[custom.makefile]
files = ["Makefile"]
description = "Makefile is present"
symbol = "\ue673 "

[custom.okfile]
files = [".ok"]
description = "Ok-file is present"
symbol = "Ok "

[custom.poe]
files = ["poe_tasks.json", "poe_tasks.yaml", "poe_tasks.toml"]
when = "grep 'tool.poe' pyproject.toml"
description = "Poe tasks found"
symbol = "Poe "

[custom.idea]
directories = [".idea"]
symbol = "\ue7b5 "
style = "cyan"

[custom.clojure]
files = ["project.clj"]
symbol = "\ue768 "
style = "green"

[custom.babashka]
files = ["bb.edn"]
symbol = "\ue768 "
style = "red"
