format = """\
    $username\
    $hostname\
    $directory\
    $git_branch\
    $git_state\
    $git_status\
    $package\
    $python\
    $rust\
    $elm\
    $cmd_duration\
    $line_break\
    $jobs\
    $character\
    """

add_newline = false

[character]
success_symbol = "[λ](bold green)"
error_symbol = "[λ](bold red)"

[jobs]
symbol = "+"

[directory]
truncate_to_repo = false

[git_branch]
symbol = "#"

[git_status]
conflicted = "="
ahead = "^"
behind = "v"
diverged = "X"
untracked = "?"
stashed = "$"
modified = "~"
staged = "+"
renamed = "%"
deleted = "-"

[package]
symbol = "^"

[python]
symbol = "Py "
pyenv_version_name = true

[elm]
symbol = "Elm "

[rust]
symbol = "Rust "
